*{
    box-sizing: border-box;
}

:root {
    --primary: rgb(234, 240, 206);
    --secondary: #497980;
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
    font-size: 70%;
}


.hidden {
    display: none;
}

body {
    background-image: url(https://i.picsum.photos/id/135/2560/1920.jpg?hmac=MAh0eBIqBNEgND6D2vgcIBIQ4BE1jzewN1QQWDfBBEY);
    background-size: cover;
    color: var(--primary);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: cursive;
    font-size: large;
}

button {
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--primary);
    border-radius: 10px;
    border: 3px double #cccccc;
    color: var(--secondary);
    text-align: center;
    font-size: x-large;
    padding: 20px;
    width: 200px;
    margin-top: 3px;
}

th {
    font-size: x-large;
}

input {
    width: 20em;
    height: 3em;
    font-size: medium;
}

#question, #options, #quizTimer, #startingPage, #highscoresPage, #user {
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer {
    position: fixed;
    bottom: 0;
    align-items: center;
}